@page "/product"
@rendermode InteractiveServer
@using VerticalSliceExample.Components.Features.AddProduct
@using VerticalSliceExample.Components.Features.GetProduct

<PageTitle>Products</PageTitle>

<div class="h-fit flex flex-col gap-10 items-center pb-20">
    <h1 class="text-3xl">Product</h1>
    <div class="w-1/2">
        <GetProductComponent @ref="_getProductComponent" />
    </div>
    <AddProductComponent @ref="_addProductComponent" />
</div>

@code
{
    AddProductComponent? _addProductComponent;
    GetProductComponent? _getProductComponent;

    protected override void OnAfterRender(bool firstRender)
    {
        if (_addProductComponent != null) _addProductComponent.ReloadProducts += c_ReloadProducts;
    }

    private void c_ReloadProducts(object? sender, EventArgs e)
    {
        _getProductComponent?.Reload();
        StateHasChanged();
    }
}
